<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    <add key="WebFileManager/ImagePath" value="images/" />
    <add key="WebFileManager/HideFolderPattern" value="^bin|test" />
    <add key="WebFileManager/HideFilePattern" value="scc$" />
    <add key="WebFileManager/AllowedPathPattern" value="/MyWeb/Uploads/.*" />
    <add key="WebFileManager/DefaultPath" value="~/MyWeb/Uploads />
    -->
  </appSettings>
  <system.web>
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>