<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="ClientId" value="{9f07c7c4-e4ce-46fc-99a3-90e5740c0a51}" />
    <add key="ClientSecret" value="kGDPCuAvcN23" />
    <add key="BaseUri" value="https://start.exactonline.co.uk" />
  </appSettings>

</configuration>

