<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <appSettings>
    <!-- ****** Drop Box Account Parameters ******** -->    
    <add key="dropBoxAppKey" value="n481vw9zrq1mxdz" />
    <add key="dropBoxAppSecret" value="cdr6r58s40k50ig" />
    <add key="dropBoxAuthReturnPage" value="DropBoxAuth.aspx" />
    <!-- ********************************************-->
    
    <!-- ****** Exact Online Account Parameters ******** -->    
    <add key="exactOnlineClientId" value="9f07c7c4-e4ce-46fc-99a3-90e5740c0a51" />
    <add key="exactOnlineClientSecret" value="kGDPCuAvcN23" />    
    <add key="exactOnlineEndPoint" value="https://start.exactonline.co.uk" />   
    <add key="exactOnlineReturnPage" value="ExactOnlineAuth.aspx" />
    <!-- ********************************************-->
      
    <add key="downloadFolderRelPath" value="tmpfiles\\downloads\\" />
    <add key="uploadFolderRelPath" value="tmpfiles\\uploads\\" />    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="100000" maxRequestLength="214748364" />
    <sessionState />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
    </modules>
  </system.webServer>
<connectionStrings>
  <add name="DropBoxExactOnline" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Backup Projects\Basim_Code\ExactAssignment\ExactAssignment\App_Data\FilesDocuments.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="BLL.Properties.Settings.FilesDocumentsConnectionString" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Backup Projects\Basim_Code\ExactAssignment\ExactAssignment\App_Data\FilesDocuments.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="FilesDocumentsEntities" connectionString="metadata=res://*/DBEntity.Model.csdl|res://*/DBEntity.Model.ssdl|res://*/DBEntity.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Backup Projects\Basim_Code\ExactAssignment\ExactAssignment\App_Data\FilesDocuments.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>